<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/postfile" method="post">
        姓名:<input type="text" name="username"/>
        <hr/>
        密码:<input type="password" name="passwd"/>
        <hr/>
        爱好：
        <input type="checkbox" value="power" name="hobby"/>权力
        <input type="checkbox" value="money" name="hobby"/>金钱
        <input type="checkbox" value="book" name="hobby"/>书
        <input type="submit" value="登录" />
    </form>>



</body>
</html>